* {
  box-sizing: border-box;
}

h1 {
  text-align: center;
}

.ttt-board {
  display: block;
  width: 60%;
  margin: 0 auto;
}

.col {
  float: left;
  width: 32%;
  display: inline-block;
  text-align: center
}

.square {
  height: 150px;
}

.cell0 {
  border-right: 2px solid;
  border-bottom: 2px solid;
  width: 99%;
}

.cell1 {
  border-right: 2px solid;
  border-bottom: 2px solid;
  width: 99%;
}

.cell2 {
  border-right: 2px solid;
  width: 99%;
}

.cell3 {
  border-right: 2px solid;
  border-bottom: 2px solid;
  width: 99%;
}

.cell4 {
  border-right: 2px solid;
  border-bottom: 2px solid;
  width: 99%;
}

.cell5 {
  border-right: 2px solid;
  width: 99%;
}

.cell6 {
  border-bottom: 2px solid;
  width: 99%;
}

.cell7 {
  border-bottom: 2px solid;
  width: 99%;
}
